<div>
  <h1>New Question</h1>

  <ul>
    <% unless @errors.nil? %>
      <% @errors.each do |error| %>
        <%= content_tag(:li, error) %>
      <% end %>
    <% end %>
  </ul>

  <%= form_for @question do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit "Submit Question" %>
  <% end %>
</div>

<a href="/questions">Back to Questions</a>
