<h1><%= @question.title %></h1>
<p><%= @question.description %></p>

<%= form_for [ @question, @answer ] do |f| %>

  <%= f.label "Answer" %>
  <%= f.text_field :body %>

  <%= f.submit "Submit Answer" %>
<% end %>

<%= link_to "Update Question", edit_question_path %>

<ul>
  <% unless @answers.first.nil? %>
    <% @answers.each do |answer| %>
      <li><%= answer.body %></li>
    <% end %>
  <% end %>
</ul>

<a href= "/questions" >Back to Questions</a>
